/* {
  "extends": ["airbnb", "airbnb/hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "brace-style": ["error", "stroustrup"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ]
  },
  "globals": {
    "localStorage": true
},
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js"],
        "map": [
          ["src", "./src"],
          ["app", "./src"]
        ]
      }
    }
  }
} */