@import '../../styles/vars';


.header {
  background-color: $backgroundColorHeader;
  margin: 0;
  padding: 30px 0;
  border-bottom: 1px solid black;
}

.unorder {
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.list {
  margin-right: 2rem;
  list-style-type: none;
  border-top: 4px solid $backgroundColorHeader;
  &:hover {
    cursor: pointer;
    border-top: 4px solid orange;
  }
}